---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
    background: $white;
    font: 1.1em $font-stack;
    color: $darkGray;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;


@media (min-width: 768px){
    width: 750px;
}
@media (min-width: 992px){
    width: 970px;
}
@media (min-width: 1200px){

    width: 1170px;
}

}

main{
  @media (min-width: 992px){
          width: 66.66666667%;
          float: left;
              padding-right: 30px;
  }

}




aside {

    @media (min-width: 992px) {
        width: 33.33333333%;
        float: left;
    }


    .user a {
        line-height: 60px;
    }

    .user img {
        margin-right: 10px;
        border-radius: 50%;
        margin-bottom: -27px;
    }

    p.tweet {
        margin-top: 10px;

        a {
            -ms-word-break: break-all;
            word-break: break-all;
        }
    }



    .authorbox_author_image {
        float: left;
        margin-right: 10px;
    }

    .authorbox_author_title {
        margin-top: 10px;
        position: relative;
        display: inline-block;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-stack;
    color: $darkerGray;
    font-weight: bold;
    line-height: 1.7;
    margin: 0.7em 0 0.7em 0;
    padding: 0;

    @include mobile {
        line-height: 1.4;
    }
}

h1 {
    font-size: 2.3em;

    a {
        color: inherit;
    }
}

h2 {
  font-size: 2.1em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.6em;
    color: $gray;
}

p {
    margin: 0 0 1rem 0;
}

a {
  color: #407742;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: #2f5230;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
  margin-top: 3rem;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}



.container:before,
.container:after {
    content: " ";
    display: table;
}

.container:after {
    clear: both;
}


/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
  background-color: #f8f8f8;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
    float: left;
    width: 230px;
    height: 110px;
    margin-right: 15px;
    margin-bottom: 10px;

    @include mobile {
        float: none;
        display: block;
        margin: 0 auto;
    }

    img {
        border-radius: $border-radius;
    }
}

.site-info {
  float: left;
  line-height: 130px;

  @include mobile {
    float: none;
    display: block;
    margin: 20px auto;
      line-height: 20px;

  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $font-stack;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
      margin-top: 47px;
  font-family: $font-stack;
  font-size: 18px;


  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: #437E45;
    }
  }
}

//
// .main
//




.posts > .post {
    padding-bottom: 20px;
    border: 1px solid #EFEFEF;
    border-radius: $border-radius;
    margin-bottom: 30px;
    overflow: hidden;

    h1 {
        color: #777;
        background-color: #f5f5f5;
        border-color: #f5f5f5;
        padding: 0.6rem 1rem;
        border-radius: $border-radius $border-radius 0 0;
        font-size: 1.2em;

        small {
            font-size: 0.8em;
            float: right;
            margin-top: 0.2rem;
        }
    }

    .entry {
        padding: 5px 20px;
    }
}


.post {
    blockquote {
        margin: 1.8em .8em;
        border-left: 2px solid $gray;
        padding: 0.1em 1em;
        color: $gray;
        font-style: italic;
    }

    .comments {
        margin-top: 10px;
    }

    .read-more {
        background: #659066;
        padding: 8px 14px;
        color: #fff;
        border-radius: 7px;
        display: inline-block;
        margin-top: 1rem;

        &:hover {
            background: #407742;
        }
    }


    h1 {
        color: #468448;
        margin: 0 0 30px 0;
        border-bottom: 1px solid #E8E8E8;
        padding-bottom: 10px;
    }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding: 20px 0;
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";


.panel {
    padding: 20px;
    border: 1px solid #EFEFEF;
    margin-bottom: 10px;
    border-radius: $border-radius;
}

table {
    border: 1px solid #555;
}

table thead {
    background:#555;
    color: #fff;
}

table td, table th {
    padding: 0.5rem 0.5rem;
    text-align: left;
}

table tr:nth-child(2n) {
    background-color: #f2f2f2;
}

article {
    line-height: 1.6;
}
